<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLConnString"
            connectionString = "data source=127.0.0.1;initial Catalog=学生学籍管理系统;uid=sa;pwd=971221"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>